
/**********************************************************************************************
 * ProcessWire Admin Control Panel - Skyscraper Theme - inputfields.css
 *
 * This file provides common styling for ProcessWire inputfields. All other Inputfield styles
 * are provided by the Inputfield modules themselves.
 *
 * Copyright 2012 by Ryan Cramer
 *
 */

.Inputfields fieldset,
.Inputfields input,
.Inputfields select,
.Inputfields textarea,
.Inputfields label {
    /* reset */
    margin: 0;
    padding: 0;
}

.Inputfields,
.Inputfields .Inputfield,
.Inputfields label,
.Inputfields input,
.Inputfields select,
.Inputfields textarea,
.Inputfields table {
    font-size: 12px;
}

.InputfieldForm .Inputfields,
.InputfieldForm .Inputfields > .Inputfield {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}
    .InputfieldForm .Inputfields .Inputfields {
        /* nested .Inputfields list needs no bottom margin since it'll already be offset from the parent's padding */
        margin-bottom: 0;
    }

    .Inputfields > .Inputfield {
        display: block;
        clear: both;
    }

.Inputfields > .Inputfield > .ui-widget-content {
    /* the Inputfield's content, padded from the borders */
    padding: 1em;
}
.ui-widget-content:after {
      content: "";
      display: table;
      clear: both;
}

.Inputfields .ui-widget-header {
    /* typically the Inputfield's <label> */
    padding: 0.25em 0 0.25em 1em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; /* prevent selection of this element */
    border: none!important;
}

.Inputfields label {
    /* label usually the same as the .ui-widget-header, but this applies to other labels too */
    display: block;
    border: none!important;
}


/**
 * Tweaks specific to percentage width floated fields
 *
 */

.InputfieldForm .Inputfields > .InputfieldColumnWidth {
    /* an Inputfield that has a percentage width assigned to it */
    float: left;
    clear: none;
    margin-top: 0;
    margin-left: 1%;
}
    .InputfieldForm .Inputfields .InputfieldColumnWidthFirst,
    .InputfieldForm .Inputfields .InputfieldColumnWidth + .InputfieldSubmit {
        /* first Inputfield with a percent width... */
        /* ...or the last percentage-width Inputifeld before the submit button */
        clear: both;
        margin-left: 0;
    }


/**
 * Margin and padding tweaks to prevent doubled visual whitespace
 *
 */

.InputfieldForm .Inputfields > .Inputfield > .ui-widget-content > *:first-child,
.InputfieldForm .Inputfields > .Inputfield > .ui-widget-content > div > *:first-child,
.InputfieldForm .Inputfields > .Inputfield:first-child {
    /* first child element of an Inputfield or it's content needs no top margin since it is already padded */
    margin-top: 0;
}

.InputfieldForm .Inputfields .Inputfields > .Inputfield:last-child,
.InputfieldForm .Inputfields > .Inputfield > .ui-widget-content > *:last-child {
    /* last child element in an Inputfield content needs no margin since it is already padded */
    margin-bottom: 0;
}
    .InputfieldForm .Inputfields > .Inputfield > .ui-widget-content .Inputfields.ui-helper-clearfix:last-child {
        /* prevents extra space in the situation described by the selector */
        /* example: the page editor sort settings box */
        margin-bottom: -1em !important;
    }


/**
 * Inputfield states (collapsd vs. open, etc.)
 *
 */

.Inputfields .InputfieldStateToggle {
    cursor: pointer;
}
    .Inputfields .InputfieldStateToggle span.ui-icon {
        /* the open/close icon that goes with most Inputfields */
        float: right;
        padding-right: 0.25em;
    }

    .Inputfields > .InputfieldStateCollapsed .ui-widget-header {
        /* collapsed Inputfields appear sightly faded */
        opacity: 0.8;
    }
    .Inputfields > .InputfieldStateCollapsed .ui-widget-header:hover {
        /* when hovering, they are no longer faded */
        opacity: 1.0;
    }

    .Inputfields > .InputfieldStateCollapsed .ui-widget-content {
        /* collapsed Inputfields don't show their content (only header) */
        display: none;
    }

.InputfieldForm .Inputfields .InputfieldStateError {
    /* borders can break floated columns, so we avoid borders here */
    border: none;
}

.InputfieldStateRequired > label.ui-widget-header:first-child:after {
    content: ' *';
}


/****************************************************************************
 * Specific Inputfield types
 *
 * Defined here rather than as separate CSS files because their styles are
 * shared or there may be relationships with other Inputfields
 *
 */

.Inputfields .InputfieldHidden {
    display: none;
}

/**
 * Buttons
 *
 */

.Inputfields .InputfieldSubmit,
.Inputfields .InputfieldButton {
    /* enable horizontal stack of buttons */
    clear: none;
    float: left;
    overflow: hidden;
    margin: 0 0.4em!important;
}
    .Inputfields .InputfieldSubmit .ui-widget-content,
    .Inputfields .InputfieldButton .ui-widget-content {
        /* we don't need our visual furniture for buttons */
        padding: 0!important;
        margin: 0!important;
        background: none;
        border: none;
        overflow: hidden;
    }

    .Inputfields .InputfieldButton .ui-widget-content a,
    .Inputfields .InputfieldButton .ui-widget-content a .ui-button{
        padding: 0!important;
        margin: 0!important;
        overflow: hidden;
    }

    .Inputfields .InputfieldSubmit .ui-widget-header,
    .Inputfields .InputfieldButton .ui-widget-header {
        /* no need for a header with buttons */
        display: none;
    }

/**
 * Text/Textarea fields
 *
 */

.Inputfields textarea,
.InputfieldMaxWidth {
    /* full width fields */
    width: 99%;
}
    .Inputfields textarea {
        display: block;
    }


/****************************************************************************
 * Render Value Mode
 *
 * Used when only values are being rendered in the form (no inputs)
 *
 */

.InputfieldRenderValueMode .InputfieldSelect li,
.InputfieldRenderValueMode .InputfieldRadios li,
.InputfieldRenderValueMode .InputfieldCheckboxes li {
        margin: 0;
}

.InputfieldRenderValueMode .InputfieldSubmit,
.InputfieldRenderValueMode .InputfieldButton {
    display: none;
}



/**
 * custom fieldset to hide the Fieldset Label to save space and make it cleaner
 * add your own
 */

.Inputfield_column1 > label,
.Inputfield_column2 > label,
.Inputfield_column3 > label,
.Inputfield_column4 > label,
.Inputfield_column5 > label,
.Inputfield_column6 > label,
.Inputfield_fieldset_content > label,
.Inputfield_fieldset_sidebar > label{ display: none!important; }
.Inputfield_column1 > .ui-widget-content,
.Inputfield_column2 > .ui-widget-content,
.Inputfield_column3 > .ui-widget-content,
.Inputfield_column4 > .ui-widget-content,
.Inputfield_column5 > .ui-widget-content,
.Inputfield_column6 > .ui-widget-content,
.Inputfield_fieldset_content > .ui-widget-content,
.Inputfield_fieldset_sidebar > .ui-widget-content{
    padding: 9px!important;
    background: #f4f4f4!important;
    border: none!important;
    /*box-shadow: 0 0 3px 1px #eee;*/
}


.Inputfields > .Inputfield > .ui-widget-header{
   background: #fff;
   border: 1px solid #c5c5c7!important;
   /*border-bottom: 1px dotted #eee!important;*/
   border-bottom: none!important;
   color: #333;
   font-weight: 700;
   font-size: 1.1em;
   border-bottom: 1px solid white;
   letter-spacing: 0.025em;
   padding: 0.6em 0.8em 0.6em 0.8em;
   box-shadow: 0px -1px 3px #d5d5d7!important; /* 0 0 55px #e3e4e5 inset!important;*/
}

.Inputfields > .InputfieldStateCollapsed .ui-widget-header {
    border: 1px solid #bbb!important;
    background: #fff;
}

.Inputfields .InputfieldRepeater .InputfieldFieldset > .ui-widget-header{
    /*border: 1px solid #000000;*/
    /*background: #1f2428 url(JqueryUI/images/ui-bg_highlight-soft_50_1f2428_1x100.png) 50% 50% repeat-x;*/
    /*color: #ffffff; font-weight: 700;*/
    /*padding-top: 4px;
    padding-bottom: 4px;*/
}

.ui-sortable .ui-state-default{

}

.Inputfields > .Inputfield > .ui-widget-header .ui-icon {
    background-image: url(JqueryUI/images/ui-icons_333333_256x240.png);
    z-index: 1;
}
/*.Inputfields .InputfieldRepeater .InputfieldFieldset > .ui-widget-header .ui-icon { background-image: url(JqueryUI/images/ui-icons_ffffff_256x240.png); }*/
.Inputfields .InputfieldRepeater .InputfieldFieldset > .ui-widget-header.ui-state-error .ui-icon {
    background-image: url(JqueryUI/images/ui-icons_cd0a0a_256x240.png);
}

.InputfieldFile .InputfieldFileLanguageInfo .actions {
    top: 0.5em;
}
