/**********************************************************************************************
 * ProcessWire Admin Control Panel - Skyscraper Theme - ui.css
 *
 * 1. jQuery UI overrides.
 * 2. Theming of specific user interface elements (MarkupPagerNav and PageList)
 *
 * Copyright 2012 by Ryan Cramer
 *
 */


/****************************************************************************************
 * 1. Theme specific jQuery UI overrides and additions
 *
 */

.ui-icon {
	float: left;
	margin-right: 2px;
}

label.ui-widget-header + div.ui-widget-content {
	/* remove doubled border between header/content on ui-widgets */
	border-top: none;
}

#notices { position:relative; margin:10px 0 0 0;}
#notices .ui-state-highlight,
#notices .ui-state-error {
	padding: 0.5em;
	margin-top:1px;
}

	#notices .ui-state-error pre {
		font-size: 11px;
		margin: 1em 0;
	}

	#notices .ui-icon {
		position: relative;
		top: 2px;
	}

p span.ui-state-error {
        padding: 0.25em 0.5em;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}


.ui-widget-overlay {
	background: #000;
}

.ui-button {
	font-size: 1em;
	margin: 1em 1em 0 0;
	padding: 6px 11px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

	p > a > .ui-button {
		font-size: 0.923076923076923em;
	}

	a .ui-button {
		display: block;
	}


.ui-slider { height: 0.9em!important; padding: 0!important;}
.ui-slider-range{ height: 100%!important; padding: 0!important;}



/****************************************************************************************
 * Teflon Theme specific Inputfields overrides
 *
 */


 	.Inputfields .InputfieldHidden {
		display: none!important;
	}


	.Inputfields > .Inputfield > .ui-widget-content {
		padding: 0.8em;
		background-color:#f2f2f3;
	}



	.Inputfields > .Inputfield {
		/*display: block;
		clear: both;*/

	}

	.Inputfields > .InputfieldStateCollapsed .ui-widget-header {
		opacity: 0.4;
	}

	.Inputfields > .InputfieldStateCollapsed .ui-widget-header:hover {
		opacity: 0.6;
	}



	.InputfieldPageNameURL {
		font-family: Monaco, Courier, Monaco, monospace;
	}


	.InputfieldSubmit .ui-widget-content{ background: none!important; padding: 0!important;}


/***********************************************************************************************
 * Theme Specific Pagination Markup
 *
 */

.MarkupPagerNav {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 1em 0;
}
    .MarkupPagerNav li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
        padding: 6px 0;
        background: none;
    }

        .MarkupPagerNav li a {
            padding: 4px 9px;
            margin: 0;
            text-decoration: none;
            border: none;
            background: #2f4248;
            color: #fff;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
			opacity: 0.8;
        }

        .MarkupPagerNav li a:hover {
			opacity: 1.0;
		}

        .MarkupPagerNav li.MarkupPagerNavOn a {
			opacity: 1.0;
            color: #fff;
            background: #db1174;
        }

        .MarkupPagerNav li.MarkupPagerNavSeparator {
            border: none;
        }




/****************************************************************************************
 * Theme specific PageList overrides
 *
 */

	/**
	 * Give the page a lighter/alte rnate color when it has a hidden status
	 *
	 */
	.PageList .PageListStatusHidden {
	 	background:transparent url(images/icon-doc-hidden.png) 3px 4px no-repeat;
	 }
	.PageList .PageListStatusHidden a.PageListPage {
		color: #a2b4c3;

	}
	.PageList .PageListStatusHidden a.PageListPage:hover {
		color: #428ac4;
	}

	.PageListID7{
		background:transparent url(images/icon-trash.png) 3px 4px no-repeat!important;
	}
	.PageListID2{
		background:transparent url(images/icon-admin.png) 2px 4px no-repeat!important;
	}
	.PageListID1{
		background:transparent url(images/icon-home.png) 0px 4px no-repeat!important;
	}

	.PageListStatusUnpublished {
		background:transparent url(images/icon-unpublished.png) 0px 4px no-repeat!important;
	}




.PageList {}
	/**
	 * Default color for page list items
	 *
	 */
	.PageListItem {padding:6px 6px 6px 20px;border-bottom:1px solid #ddd; background:transparent url(images/icon-doc2.png) 3px 4px no-repeat;}
	.PageListItem:hover{background-color:#eee;}

	.PageList a.PageListPage{
		color: #34526b;
		padding:3px 6px;
	}
		/**
	 	 * Color when hovered
		 *
		 */
		.PageList a.PageListPage:hover {
			background: none;
			color: #428ac4;
			padding:3px 6px!important;
		}


	/**
	 * Color of page when opened
	 *
	 */
	.PageList .PageListItemOpen > a.PageListPage  {
		color: #fff!important;
		background-color:#4f87b6!important;
		border-radius:4px;
		padding-right:6px;
		padding-left:6px;
	}


	.PageList .PageListAccessOff a.PageListPage,
	.PageList .PageListAccessOff a.PageListPage:hover {
		padding-right:15px!important;
	}
	.PageList .PageListAccessOn a.PageListPage,
	.PageList .PageListAccessOn a.PageListPage:hover {
		padding-right:18px!important;
	}

/* ------- added by teflon admin theme -------- */


.PageList .detail{ color: #999; margin: 0 1em 0 0 ; }

.PageListLoading {
	background: transparent url(images/loading.gif) top left no-repeat;
}

.asmListItem{ width: 99%; }
.asmListItem,.asmListItemLabel{
	padding: 3px;

}
.asmListItemRemove{
	padding: 3px;
}

.InputfieldPageListSelectMultiple ol li{ padding: 3px; }
.InputfieldPageListSelectMultiple ol li .ui-icon-trash{ margin: 3px 3px; }

/********************************************************************************************************
 * OVERWRITES PageListSort from ProgressPageList.css
 *
 ********************************************************************************************************/

/**
 * When sorting/moving, highlight the page name in yellow
 *
 */
.PageListSortItem > a.PageListPage {
	background-color: #29353b!important;
	color:#fff!important;
	padding:5px 5px;
	cursor: move;
}

/**
 * Don't display actions on any pages when sorting, and don't display numChildren on page being moved
 *
 */
.PageListSorting .PageList .PageListItem ul.actions,
.PageList .PageListSortItem span.PageListNumChildren {
	display: none !important;
}

/**
 * Remove the text underline when sorting
 *
 */
.PageListSorting .PageListItem a.PageListPage {
	text-decoration: none;
}

/**
 * An invisible placeholder that is automatically inserted above and below open items
 *
 * This allows for child items where children don't already exist
 *
 */
.PageListPlaceholder .PageListPlaceholderItem {
	/*background: #eee; */
	height: 16px; /* see .PageListItem */
	margin: 0;
	border: 0;
	background:none;
}

/**
 * Prevents a 6px gap from appearing below a open item
 *
 */
.PageListPlaceholder + .PageListItem,
.PageListPlaceholder + .PageList {
	margin-top: -16px !important;
}

/**
 * Last item in a list before it retreats to the parent list, prevents a visual margin below it.
 *
 */
.PageListPlaceholder:last-child {
	margin-bottom: -16px;
}


/**
 * The hover placeholder that appears in potential targets as you are sorting/moving a PageListItem
 *
 */
.PageListSortPlaceholder {
	background-color: #a6b6c9;
	padding: 6px 0;
	margin:0 0;
	width: auto;
	border-left: 2px solid #222;

}

.PageListPagination a{
	padding:0;

}
.PageListPagination a.ui-state-default:hover{
	color:#fff;

}

.InputfieldPageListSelectMultiple ol li{ width:auto;}


p.PageListSelectName {background-color:#4F87B6; color:white; margin:0 10px 0 0; padding:5px 10px 5px 5px!important; border-radius:5px;}
p.PageListSelectName .detail{ background-color:#a6b6c9; margin: 0 5px 0 0;padding:5px 10px;}
